__pycache__
.classpath
.DS_Store
.env
.gradle
.idea
.kotlin
.mypy_cache
.project
.pytest_cache
.ruff_cache
.venv 
*.egg-info
*.py[codz]
*.vsix
build
memory/
node_modules
references/
Thumbs.db
venv
scripts_old
workspace.json
work/
uv.lock
