__pycache__
.classpath
.DS_Store
.env
.git
.gitattributes
.gitignore
.gradle
.idea
.kotlin
.project
.pytest_cache
.ruff_cache
.venv
.vscode/**
*.egg-info
*.py
*.py[codz]
*.pyc
*.vsix
build
CHANGELOG.md
design*.md
examples
memory/**
quickstart.md
references.md
references/**
scripts.md
scripts_old
theme_gen
Thumbs.db
venv
*cache*
work/
.mypy_cache
workspace.json
